<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap core CSS-->
        <link href="{{ asset('css/vendor/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="{{ asset('css/vendor/font-awesome/css/all.css') }}" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template-->
        <link href="{{ asset('css/vendor/theme/sb-admin.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/vendor/bootstrap/bootstrap-table.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Auditorias</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="{{ path('dashboard') }}">
                    <i class="fa fa-fw fa-chart-pie"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Empresas">
                <a class="nav-link" href="{{ path('companies_list') }}">
                    <i class="fa fa-fw fa-building"></i>
                    <span class="nav-link-text">Empresas</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Agentes">
                <a class="nav-link" href="{{ path('agents_list') }}">
                    <i class="fa fa-fw fa-user-secret"></i>
                    <span class="nav-link-text">Agentes</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Candidatos">
                <a class="nav-link" href="{{ path('candidates_list') }}">
                    <i class="fa fa-fw fa-user-graduate"></i>
                    <span class="nav-link-text">Candidatos</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        {% block body %}
        {% endblock %}
        <div id="myVueApp">
            <!-- Confirm Modal-->
            <confirm ref="confirmModal"></confirm>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{ path('logout') }}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        var require = {
            baseUrl: '/js',
            paths: {
                jquery: 'vendor/jquery/jquery',
                Vue: 'vendor/vue/vue.min',
                VeeValidate: 'vendor/vue/vee-validate',
                dictionaryES: 'vendor/vue/es',
                bootstrapTable: 'vendor/bootstrap/bootstrap-table',
                moment: 'vendor/moment/moment',
                vue: 'vendor/vue/require-vuejs',
                sbAdmin: 'vendor/theme/sb-admin.min',
                jqueryEasing: 'vendor/jquery/jquery.easing.min'
            },
            shim: {
                bootstrapTable: {
                    deps: ['jquery']
                },
                sbAdmin: {deps: ['jquery']},
                jqueryEasing: {deps: ['jquery']},
            }
        };
    </script>
    <script src="{{ asset('js/require.js') }}"></script>
{% endblock %}
</body>
</html>