{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('dashboard') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('companies_list') }}">Empresas</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('companies_edit', {'slug': company.id}) }}">{{ company.name }}</a>
        </li>
        <li class="breadcrumb-item active">Usuarios</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Usuarios</div>
        <div class="card-body">
            <table id="table-container">
            </table>
            <a class="btn btn-primary" href="{{ path('users_create', {'company_id': company.id}) }}" role="button">Crear usuario</a>
        </div>
        <div class="card-footer small text-muted">&nbsp;</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var companyData = {{ company | serialize('json') | raw }};
    </script>
    <script src="{{ asset('js/users/index.js') }}"></script>
{% endblock %}